/* .bannar:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: inline-block;
    background: linear-gradient( #151515 0%, rgba(21, 21, 21, 0) 100%);
} */


.bannar-container {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../asset/img/images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bannar-details {
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}